<div class="list-group">
	<a href="#" class="list-group-item active">
		<div class="media">
			<div class="pull-left">
				<span class="glyphicon glyphicon-list-alt"></span>
			</div>
			<div class="media-body">
				<h2 class="media-heading">Prateleira</h2>
				Todos os jogos adquiridos
			</div>
		</div>
	</a>
	<a href="#" class="list-group-item">
		<div class="media">
			<div class="pull-left">
				<span class="glyphicon glyphicon-shopping-cart"></span>
			</div>
			<div class="media-body">
				<h2 class="media-heading">Loja</h2>
				Adquira novos jogos
			</div>
		</div>
	</a>
	<a href="#" class="list-group-item">
		<div class="media">
			<div class="pull-left">
				<span class="glyphicon glyphicon-user"></span>
			</div>
			<div class="media-body">
				<h2 class="media-heading">Lista de Amigos</h2>
				Troque mensagens com seus amigos conetados
			</div>
		</div>
	</a>
	<a href="#" class="list-group-item">
		<div class="media">
			<div class="pull-left">
				<span class="glyphicon glyphicon-off"></span>
			</div>
			<div class="media-body">
				<h2 class="media-heading">Desligar</h2>
				Desligar o sistema
			</div>
		</div>
	</a>
</div>